<div class="container">
    JSON:    {{diagnostic}}
    <div [hidden]="submitted">
        <h1>武将フォーム</h1>
        <form (ngSubmit)="onSubmit()" #busyoForm="ngForm">
            <div class="form-group">
                <label for="name">名前</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
                <!--<br>TODO: remove this: {{spy.className}}-->
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    名前は必須です！
                </div>
            </div>

            <div class="form-group">
                <label for="master">主人</label>
                <input type="text" class="form-control" id="master" required [(ngModel)]="model.master" name="master" #master="ngModel">
                <!--<br>TODO: remove this: {{spy.className}}-->
                <div [hidden]="master.valid || master.pristine" class="alert alert-danger">
                    主人は必須です！
                </div>
            </div>

            <div class="form-group">
                <label for="comment">備考</label>
                <input type="text" class="form-control" id="comment" [(ngModel)]="model.comment" name="comment">
            </div>

            <div class="form-group">
                <label for="intelligence">知力</label>
                <select class="form-control" id="intelligence" required [(ngModel)]="model.intelligence" name="intelligence">
                    <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="power">戦闘力</label>
                <select class="form-control" id="power" required [(ngModel)]="model.power" name="power">
                    <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
                </select>
            </div>

            <button type="submit" class="btn btn-success" [disabled]="!busyoForm.form.valid">決定</button>

            <button type="button" class="btn btn-default" (click)="newBusyo(); busyoForm.reset()">新規武将作成</button>
        </form>
    </div>
    <div [hidden]="!submitted">
        <h2>サブミットしちったね</h2>
        <div class="row">
            <div class="col-xs-3">名前</div>
            <div class="col-xs-9 pull-left">{{model.name}}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">主人</div>
            <div class="col-xs-9 pull-left">{{model.master}}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">備考</div>
            <div class="col-xs-9 pull-left">{{model.comment}}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">知力</div>
            <div class="col-xs-9 pull-left">{{model.intelligence}}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">戦闘力</div>
            <div class="col-xs-9 pull-left">{{model.power}}</div>
        </div>
        <br>
        <button class="btn btn-primary" (click)="submitted=false">編集</button>
    </div>
</div>